body {
    margin: 0;
    display: block;
}

header {
    background-color: #E6FEE6;
    padding: 35px 0;
    border-radius: 20px;
    margin: 15px auto;
    max-width: 1400px;
    display: flex;
    justify-content: center;
}

nav{
   display: flex;
   gap: 70px;
}

nav a{
    font-family: 'Inter';
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

nav a:hover{
    opacity: 70%;
    cursor: pointer;
    transition: 0.5s;
}