
/* MENU */
.header_superior{
	width: 100%;
	height: 70px;
	background:#FFF;
	position: fixed;
	top:0;
}

#menu-bar{
	display: none;
}

header label{
	float: left;
	font-size:28px;
	margin: 23px 5px;
	cursor: pointer;
	display:none;
}

.Menu-Mobile{
	width:98%;
	height: auto;
	margin: 0px auto;
}

.menu{
	position:absolute;
	width:100%;
	height: 100vh;
	background: rgba(51,51,51,0.9);
	top:70px;
	left:0;
	transition: all 0s;
	transform: translateX(-100%);
}

.menu li a{
	margin-top: 2px;
	display:block;
	color:#FFF;
	height:50px;
	text-decoration:none;
	padding: 10px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	border-left: 3px solid rgba(255,255,255,0.5);
	line-height: 35px;
}

.sub-item a{ 
	background: rgba(165, 159, 159, 0.9);
}

.img-expandir{
	float: right;
	margin-top: -4px;
}
.menu ul li:hover {   /* exibe cursor sobre serviços */
	cursor: pointer;
}

.menu ul ul{
	position: static;
	overflow: hidden;
	max-height: 0px;
	transition: all .0s;
}

.menu ul li:hover ul{
	margin-left: 15px;
	height: auto;
	max-height: 500px;
}

.menu ul li:not(:hover) ul{
	position: static;
	overflow: hidden;
	max-height: 0px;
	transition: all .0s;
}
.menu a:hover{
	background:#000;
}

#menu-bar:checked ~ .menu{
	transform: translateX(0%);
}

.glyphicon-menu-hamburger{
    display:none;
}

@media(min-width:1024px){
    .menu{
        position: absolute;
        width: 100%;
        height:50px;
        float:left;
        transform: translateX(0);
        display:flex;
        background: rgb(2, 85, 2);		
    }

    .menu ul{
        margin:0 auto;
        list-style: none;
        position: relative;
    }

    .menu ul li{
        text-decoration: none;
        height:50px;
        width: 150px;
        float: left;
        background: rgb(2, 85, 2);
        text-align: center;
        font-size:16px;
        font-weight:bold;
    }

    .menu ul li a{
        
        color: #FFF;
    }

    .menu li a{
        border: none;
        margin-top: 0px;
        padding-top: 10px; 
        font-size: 18px;
    }

    .sub-item a{ 
        background: rgb(2, 85, 2);
    }

    .img-expandir{
        display: none;
    }

    .menu ul ul{
        position: absolute;
        visibility: hidden; /* esconde a ul de serviços */
    }

    .menu ul li:hover ul{
        margin-left: 0px;
        overflow: visible;
        visibility: visible;/* exibe a ul de serviços */
        position: relative;
    }

    #txt-maior a{
        padding-top: 5px;
        line-height: 25px;
        font-size: 16px;
        height: 60px;
    }

    #txt-maior {
        width: 150px;
        height: 60px;
    }

    .menu a:hover{
        border-bottom: 5px solid green;
        line-height: 27px;
    }

    #pag-atual{
        border-bottom: 3px solid green;
        background-color: black;
    }

    .header_superior {
        width: 100%;
        height: 115px;
    }

    #Logo{
        margin: -65px 0px 0px 40px;
        width: 209px;
        height: 60px;
        background: url(../Img/Menu/Logo/Logo_haya_desk.png) no-repeat;
    } 
}
/* FIM MENU */