body {
    margin: 0;
    display: block;
}

/* header */
header {
    background-color: #E6FEE6;
    padding: 35px 0;
    border-radius: 20px;
    margin: 15px auto;
    max-width: 1400px;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline;
    font-size: 15px;
}

nav ul li:not(:last-child){
    margin-right: 70px;
}

nav a, button{
    font-family: 'Inter';
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

nav button {
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 15px;
}

nav a:hover, button:hover{
    opacity: 70%;
    cursor: pointer;
    transition: 0.5s;
}

.submenu{
    position: absolute;
    margin-top: 40px;
    background-color: #E6FEE6;
    border-radius: 10px;
    min-width: 200px;
    padding: 20px;
    opacity: 70%;
}

.submenu-closed{
    display: none;
}

.submenu-open {
    display: block;
}

#submenu ul li {
    display: flex;
}

#submenu ul li:not(:first-child) {
    margin-top: 20px;
}
 /* fim header */

 /* cards */
.content {
    margin: 30px auto;
    max-width: 1300px;
}

.content h1 {
    color: #032A00;
    font-family: 'Raleway';
}

.card {
    border: 1px solid #E2E2E2;
    border-radius: 20px;
    max-width: 350px;
    padding: 20px;
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 10px 10px 60px #d0d0d0, -10px -10px 60px #ffffff;
}

.card h2 {
    font-family: 'Raleway';
    margin: 0;
}

.card h3 {
    font-family: 'Roboto';
    color: #6E6E6E;
    margin-top: 0;
}

.card p {
    font-family: 'Roboto';
}

.card-wrapper {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}